* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.menulist {
    margin-left: 10rem;
    margin-right: 3rem;
    padding: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: white;
}

.conversion-items ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.conversion-items li {
    list-style: none;
    text-decoration: none;
    color: white;
    padding:1rem;
    display: block;
    font-size: larger;
}

.conversion-items li:hover {
    background-color: black;
}

.hp-ratio-input-section p {
    margin-left: 10%;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    width: 20%
}

td, th {
    border: 1px slategrey;
    text-align: left;
    padding: 2%;
}
tr:nth-child(odd) {
    background-color: rgb(151, 151, 204);
  }
  tr:nth-child(even) {
    background-color: rgb(187, 224, 224);
  }