* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: white;
}

.conversion-selections {
    font-size: 2rem;
    margin: .5rem;
}

.conversion-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.conversion-links li {
    list-style: none;
    text-decoration: none;
    color: white;
    padding:1rem;
    display: block;
}