* {
    box-sizing: border-box;
}

body {
    margin: 4%;
    padding: 0;
}

.menulist {
    margin-left: 20%;
    margin-right: 3rem;
    padding: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: white;
}
#main-display {
    margin-left: 20%;
}
#titles {
    margin-left: 20%;
}
#sidebar{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(200, 179, 179);
    overflow-x: hidden;
    padding-top: 20px;
}
#sidebar-comparison{
    margin-left: 2%;

}
.conversion-items ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.conversion-items li {
    list-style: none;
    text-decoration: none;
    color: white;
    padding:1rem;
    display: block;
    font-size: larger;
}

.conversion-items li:hover {
    background-color: black;
}

.hp-ratio-input-section p {
    margin-left: 10%;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    width: 20%
}

td, th {
    border: 1px slategrey;
    text-align: left;
    padding: 2%;
}
tr:nth-child(odd) {
    background-color: rgb(151, 151, 204);
  }
  tr:nth-child(even) {
    background-color: rgb(187, 224, 224);
  }

